body {
  background-color: #bcdace;
}

h1 {
  color: #FFFFFF;
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-weight: bolder;
}

.container-login {
  text-align: center;
  width: 100%;
}
.input-group {
  display: inline-block;
  text-align: center;
  margin-top: 100px;
}

.login-image {
  text-align: center;
  margin-top: 40px;
  display: 800%;
}

/* styleing for navbars */
.navbar, .navbar-default, .navbar-fixed-top, .navbar-fixed-bottom {
  background-color: #0E7275;
}

.navbar-links {
  float: right;
  margin-top: 20px;
}

h2.sub-headings {
  margin-top: 100px;
  color: #767c7a;
  font-family: 'Bree Serif', serif;
  text-align: center;
}

/* checklists page */
.container {
  text-align: center;
  /*width: 75%;*/
}

.checklists__create-input {
  width: 250px;
  display: inline-block;
  margin-bottom: 20px;
}

.checklists__create-button {
  display: inline-block;
  margin-bottom: 4px;
}

.checklists__task--completed {
  text-decoration: line-through;
}

.checklists__update-input {
  margin: 0 auto;
  width: 250px;
}

/* procedures/notes page */
.procedures__create-input {
  width: 250px;
  display: inline-block;
  margin-bottom: 20px;
}

.procedures__create-button {
  display: inline-block;
  margin-bottom: 4px;
}

.procedures__update-input {
  margin: 0 auto;
  width: 250px;
}

th, td {
  font-size: 20px;
  text-align: center;
}

p {
  color: #FFFFFF;
}
