body {
  background-color: #BCDACE;
}

h1 {
  font-style: italic;
  color: red;
  font-family: Courier;
  text-align: center;
  font-weight: bolder;
  font-stretch: semi-expanded;
  margin-top: 55px;
}
.login-page, .form-control, h2{
  text-align: center;
  margin-bottom: 20px;
  color: #439392;
}

.input-group {
  width: 250px;
  display: inline-block;
  margin: 25px 20px;
}

.login-image {
  text-align: center;
  margin-top: 40px;
  display: 800%;
}

/* styleing for navbars */
.navbar, .navbar-default, .navbar-fixed-top {
  background-color: #0E7275;
}

.navbar-links {
  float: right;
  margin-top: 20px;
  font-color: #FFFFFF;
}

h2.sub-headings {
  margin-top: 100px;
  font-style: italic;
  color: red;
  font-family: Courier;
  text-align: center;
}

/* checklists page */
.container {
  text-align: center;
}

.checklists__create-input {
  width: 250px;
  display: inline-block;
  margin-bottom: 20px;
}

.checklists__create-button {
  display: inline-block;
  margin-bottom: 4px;
}

.checklists__task--completed {
  text-decoration: line-through;
}

.checklists__update-input {
  margin: 0 auto;
  width: 250px;
}

/* procedures/notes page */
.procedures__create-input {
  width: 250px;
  display: inline-block;
  margin-bottom: 20px;
}

.procedures__create-button {
  display: inline-block;
  margin-bottom: 4px;
}

.procedures__update-input {
  margin: 0 auto;
  width: 250px;
}

th, td {
  font-size: 20px;
  text-align: center;
}
